@media only screen and (max-width: 1100px) {
    .nav {
      display: none;

    }
    .fa-bars{
        display:block;
        font-size: 10px;
    }
    .follow{
        font-size:10px;
        display: none;
    }
    .fa-facebook-f,.fa-instagram,.fa-linkedin-in{
        display: none;
        font-size: 10px;
    }
    .logo{
        height:10px;
    }
    .title{
        font-size: 15px;
    }
  }

  @media only screen and (max-width: 1248px) {
    .content{
        max-width: 33%;
    }
    .content-container{
        display: flex;
        justify-content:space-around;
    }
}

@media only screen and (max-width: 950px) {
    .content{
        max-width:50%;
        /* margin-right: 15px; */
    }
}
